body {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold 700;
    /* border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; */
    border-radius: 1rem;
}

.calculator {
    background-color: teal;
    border-radius: 1rem;
    border: 2px solid black;
    padding-bottom: 1rem;

}

body img {
    width: 10%;
    height: auto;
    padding-top: 0.5rem;
   
}

.brand-name {
    text-align: center;
    font-size: 1.75em;
}

.display {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold 700;
    font-size: 5em; 
    text-align: end;
    background-color: gray;
    color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 3px solid black;
    margin: 1rem;
}

.buttons {
    display: grid;
    font-size: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: teal;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

button {
    font-family: 'Roboto Mono', monospace; 
    font-weight: bold;
    font-size: 1em;

    background-color: rgb(196, 192, 192);
    color: black;
   
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0.25rem;
    width: 70%;
    /* border: none; */
}

button:hover, button:focus {
    background-color: darkgrey;
    color: white;
}

.equals {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #f0c15d;
    width: 90%;
    color: white;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 90%;
    background-color: #b62731;
}

.operator {
    background-color: #5e3f80;
    color: white;
}